.board {
	background: #fff;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
}

.board-title {
	color: #000;
}

.board-title a {
	color: #000;
	text-decoration: none;
}

.board-title a:hover {
	color: #60A5DA;
}

.board-link {
	color: #000;
	text-decoration: none;
}

.board-link:visited {
	color: #738a94;
}

.board-domain {
	color: #738a94;
}

.board-footer {
	color: #738a94;
}
