#header {
	background: #fff;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#header-container {
	width: 55%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#header-left {
	width: 50%;
}

#header-right {
	width: 50%;
}

.navigation {
	display: flex;
	margin: 0 0 0 -12px;
	padding: 0;
	list-style: none;
}

.navigation-right {
	float: right;
}

.navigation a {
	color: #000;
	text-decoration: none;
}

.navigation a:hover {
	color: #60A5DA;
}

.navigation li {
	line-height: 1.8em;
	padding: 0 12px;
}
