@import-normalize;
@import "~@blueprintjs/core/lib/css/blueprint.css";

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #F4F8FB;;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}
