.panel {
	background: #fff;
	color: #000;
	width: 55%;
	margin: 0 auto;
	padding: 7px;
	border-radius: 5px;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
	margin-bottom: 20px;
}

.panel-title {
	text-align: left;
}

.panel-content {
	font-size: 16px;
}
