.post {
	background: #fff;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
}

.post-title {
	display: flex;
	color: #738a94;
}

.post-title-left {
	flex: 1;
}

.post-title-right {
	flex: 1;
	text-align: right;
}

.post-content {
	color: #000;
}
