.thread {
	background: #fff;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
}

.thread-title {
	color: #000;
}

.thread-link {
	color: #000;
	text-decoration: none;
}

.thread-link:hover {
	color: #60A5DA;
}

.thread-link:visited {
	color: #738a94;
}

.thread-domain {
	color: #738a94;
}

.thread-footer {
	color: #738a94;
}

.thread-footer a {
	color: #60A5DA;
	text-decoration: none;
}
