#threads {
}

#board-title {
	color: #000;
	text-align: center;
}

#board-description {
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}

#board-title a {
	color: #000;
	text-decoration: none;
}

#board-title a:hover {
	color: #60A5DA;
}

#board-description a {
	color: #000;
	text-decoration: none;
}

#board-description a:hover {
	color: #60A5DA;
}
